@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Noto Sans KR', sans-serif
}

html {
    background-color: pink;
}

h1 {
    text-align: center;

    margin-top : 10px;
}

a {
    text-decoration: none;
    color: black;
}

#main_view {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #ffe0e5;
}

#greeting {
    display: grid;
}
